.shop-page {
  .main {
    // background-color: $theme-white;
    background-color: blanchedalmond;
  }

  .shop-toolbar {
    border-radius: $border-radius-primary;
    box-shadow: $box-shadow-primary;
  }
}

// .shop-page {
//   .main {
//     background-color: $theme-white;
//   }

//   .shop-toolbar {
//     border-radius: $border-radius-primary;
//     box-shadow: $box-shadow-primary;
//   }
// }
